.page-in {
  animation: pageIn 0.5s linear;
}
@keyframes pageIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.page-out {
  animation: pageOut 1s linear;
}
@keyframes pageOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
