.menu-container {
  padding: 10px;
  .menu-item-container {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: #666;
    cursor: pointer;
    &:hover {
      color: rgb(252, 123, 4);
    }
  }
  .actived {
    color: #fff;
    background-color: rgb(2, 2, 2);
    border-radius: 10px;
  }
}
